<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>2Wheel Meetups - Event Details</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'MainApp/css/eventDetail.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Josefin+Sans|Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'MainApp/js/eventDetail.js' %}"></script>
        <script src="{% static 'MainApp/js/googleMaps.js' %}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{myKey}}&callback=initMap"></script>

    </head>

    <body onload="initMap() & codeAddress()">
        <!-- THE BELOW CONTAINER HOLDS ALL THE LINK STYLES -->
        <div id="container">
            <div id="header">
                <h1><strong>2Wheel Meetups</strong></h1>

                <div id="links">
                    <ul>
                        <li><a href="/Home">Home</a></li>
                        <li><a href="/Explore">Explore</a></li>
                        <li><a href="/CreateEvent">Create</a></li>
                        <li><a href="/Logout">Log Out</a></li>
                    </ul>
                </div>
            
                <div class="dropdown">

                    <button onclick="myFunction()" class="menuButton"><i class="fas fa-bars"></i> MENU</button>

                    <div id="tabletDropdown" class="dropdown-content">
                        <a href="/Home">Home</a>
                        <a href="/Explore">Explore</a>
                        <a href="/CreateEvent">Create</a>
                        <a href="/Logout">Log Out</a>
                    </div>

                </div>
        
            </div>
            
            <div id="mobileLinks">

                <a href="/Home">
                    <i class="fas fa-home fa-2x"></i>
                    <p>Home</p>
                </a>
                <a href="/Explore">
                    <i class="fas fa-search fa-2x"></i>
                    <p>Explore</p>
                </a>
                <a href="C/reateEvent">
                    <i class="fas fa-motorcycle fa-2x"></i>
                    <p>Create</p>
                </a>
                <a href="/Logout">
                    <i class="fas fa-sign-out-alt fa-2x"></i>
                    <p>Log Out</p>
                </a>
                    
            </div>
        </div>  

        <div id="event" style="height:100%; width:100%;">
            <h1><strong>Details</strong></h1>
            <h2><strong>{{Event.Title}}</strong></h2>
            <h5><strong>{{Event.EventDate | date:"l, F d, Y"}} at {{Event.EventTime}}</strong></h5>
            <div id="map"></div>
            <!-- ************IMPORTANT TO KEEP INPUT WITH VALUE FOR MAP************ -->
            <input id="address" type="hidden" value="{{Event.Address}} {{Event.City}} {{Event.State}} {{Event.ZipCode}}">
            <p class="address"><strong><a href="http://maps.google.com/?q={{Event.Address}}, {{Event.City}}, {{Event.State}} {{Event.ZipCode}}" target="_blank">{{Event.Address}}, {{Event.City}}, {{Event.State}} {{Event.ZipCode}}</a></strong></p>
            <p class="descriptionTitle"><strong><u>DESCRIPTION: </u></strong></p>
            <p class="description">{{Event.Description}}</p>
            <a href="{% url 'Rider' UserLoggedIn.id %}"><button type="submit" class="btn btn-danger profileButton"><i class="fas fa-arrow-circle-left"></i> Go To My Profile </button></a>
            {% if ThisUser.id == Event.EventByUser.id %}
            <form action="/DeleteEvent/{{Event.id}}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{Event.id}}" name="Event">
                <button type="submit" class="btn btn-danger cancelButton"><i class="fas fa-trash-alt"></i> DELETE EVENT!</button>
            </form> 
            {% endif %}
        </div>

        <div id="footer">
            <p class="footer">2Wheel Meetups &reg; by Gustavo Arellano</p>
        </div> 
        
    </body>
</html>