<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>2Wheel Meetups - HOME</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'MainApp/css/home.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Josefin+Sans|Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'MainApp/js/welcome.js' %}"></script>
        <script src="{% static 'MainApp/js/googleMaps.js' %}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{myKey}}&callback=initMap"></script>
    </head>

    <body>
        <div id="container">
            <div id="header">
                <h1><strong>2Wheel Meetups</strong></h1>

                <div id="links">
                    <ul>
                        <li><a href="{% url 'Rider' UserLoggedIn.id %}">Profile</a></li>
                        <li><a href="/Explore">Explore</a></li>
                        <li><a href="/CreateEvent">Create</a></li>
                        <li><a href="/Logout">Log Out</a></li>
                    </ul>
                </div>

                <div class="dropdown">

                    <button onclick="myFunction()" class="menuButton"><i class="fas fa-bars"></i> MENU</button>

                    <div id="tabletDropdown" class="dropdown-content">
                        <a href="{% url 'Rider' UserLoggedIn.id %}">Profile</a>
                        <a href="/Explore">Explore</a>
                        <a href="/CreateEvent">Create</a>
                        <a href="/Logout">Log Out</a>
                    </div>

                </div>

            </div>

            <div id="mobileLinks">

                <a href="{% url 'Rider' UserLoggedIn.id %}">
                    <i class="fas fa-user fa-2x"></i>
                    <p>Profile</p>
                </a>

                <a href="/Explore">
                    <i class="fas fa-search fa-2x"></i>
                    <p>Explore</p>
                </a>
                <a href="/CreateEvent">
                    <i class="fas fa-motorcycle fa-2x"></i>
                    <p>Create</p>
                </a>
                <a href="/Logout">
                    <i class="fas fa-sign-out-alt fa-2x"></i>
                    <p>Log Out</p>
                </a>

            </div>
        </div>  
        
        <div id="upcoming">

            <h4><strong>Hi, {{request.session.FirstName}}!</strong></h4>
            <h5 class="secondHeader"><strong>YOUR NEXT MEETUP</strong></h5>
            {% if AllUserAttending.count > 0 %}
            <div class="upcomingEvent">

                <p class="upcomingDate">{{UpcomingEvent.EventDate | date:"l, F d, Y"}}, {{UpcomingEvent.EventTime}}</p>
                <img class="upcomingImage" src="https://maps.googleapis.com/maps/api/staticmap?center={{UpcomingEvent.Address}}+{{UpcomingEvent.City}}+{{UpcomingEvent.State}}+{{UpcomingEvent.ZipCode}}&zoom=18&size=600x300&maptype=roadmap&style=gama:10.0|lightness:-8&markers=color:red%7Clabel:2WM%7C{{UpcomingEvent.Address}},{{UpcomingEvent.City}},{{UpcomingEvent.State}},{{UpcomingEvent.ZipCode}}&key={{myKey}}" alt="">
                <p class="upcomingAddress"><a href="http://maps.google.com/?q={{UpcomingEvent.Address}}, {{UpcomingEvent.City}}, {{UpcomingEvent.State}} {{UpcomingEvent.ZipCode}}" target="_blank">{{UpcomingEvent.Address}}, {{UpcomingEvent.City}}, {{UpcomingEvent.State}} {{UpcomingEvent.ZipCode}}</a></p>
                <p class="upcomingTitle"><a href="{% url 'Event' UpcomingEvent.id %}">{{UpcomingEvent.Title}}</a></p>
                <p class="upomingAttending"><i class="fas fa-motorcycle"></i> {{UpcomingEvent.UsersGoing.count}} Riders Going</p>

            </div>
            {% else %}
                <h6 class="mobileUpcomingStatement">You are currently not attending any meetups! 😔</h6>
            {% endif %}
        </div>
    
        <div id="tabletUpcoming">
            
            <h4>Hi, {{request.session.FirstName}}!</h4>
            <h6>YOUR NEXT MEETUP</h6>
            <hr>
            {% if AllUserAttending.count > 0 %}
            <div class="infoLeft">
                <h1><b><a href="{% url 'Event' UpcomingEvent.id %}">{{UpcomingEvent.Title}}</a></b></h1>
                <h5>{{UpcomingEvent.City}}, {{UpcomingEvent.State}} <br><br> <i class="fas fa-motorcycle"></i> {{UpcomingEvent.UsersGoing.count}} Riders Going</h5>
            </div>

            <img class="roadImage" src="{% static 'MainApp/images/roadImage.png' %}" alt="">
            
            <div class="icons">
                <i class="fas fa-calendar-day"></i>
                <br><br>
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="infoRight">
                <h5>{{UpcomingEvent.EventDate | date:"l, F d, Y"}} @ {{UpcomingEvent.EventTime}}</h5>
                <br>
                <a class="addressYourUpcoming" href="http://maps.google.com/?q={{UpcomingEvent.Address}}, {{UpcomingEvent.City}}, {{UpcomingEvent.State}} {{UpcomingEvent.ZipCode}}" target="_blank"><h5 class="addressYourUpcomings">{{UpcomingEvent.Address}} <br> {{UpcomingEvent.City}}, {{UpcomingEvent.State}} {{UpcomingEvent.ZipCode}}</h5></a>
                
            </div>
            {% else %}
            <div>
                <h4 class="upcomingStatement">You are currently not attending any meetups! 😔</h4>
            </div>
            {% endif %}
            
        </div>
    
    
        <div id="available">

            <h5><strong>AVAILABLE MEETUPS</strong></h5>

            {% for event in EventsNotAttending %}
            <div class="availableEvent">

                <p class="availableDate">{{event.EventDate | date:"l, F d, Y"}}, {{event.EventTime}} </p>
                <img class="availableImage" src="https://maps.googleapis.com/maps/api/staticmap?center={{event.Address}}+{{event.City}}+{{event.State}}+{{event.ZipCode}}&zoom=18&size=600x300&maptype=roadmap&style=gama:10.0|lightness:-8&markers=color:red%7Clabel:2WM%7C{{event.Address}},{{event.City}},{{event.State}},{{event.ZipCode}}&key={{myKey}}" alt="">
                <p class="availableAddress"><a href="http://maps.google.com/?q={{event.Address}}, {{event.City}}, {{event.State}} {{event.ZipCode}}" target="_blank">{{event.Address}}, {{event.City}}, {{event.State}} {{event.ZipCode}}</a></p>
                <p class="availableTitle"><a href="{% url 'Event' event.id %}">{{event.Title}}</a></p>
                <p class="availableAttending"><i class="fas fa-motorcycle"></i> {{event.UsersGoing.count}} Riders Going</p>

                <form id="joinButton" class="joinButton" action="/Join/{{event.id}}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger joinButton">Join!</button>
                </form>
    
            </div>
            {% endfor %}

        </div>
            
        <div id="footer">
            <p class="footer">2Wheel Meetups &reg; by Gustavo Arellano</p>
        </div>
    </body>
</html>