<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>2Wheel Meetups - {{rider.FirstName}} {{rider.LastName}}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'MainApp/css/profile.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Josefin+Sans|Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'MainApp/js/profile.js' %}"></script>
    </head>

    <body>

        <!-- THE BELOW CONTAINER HOLDS ALL THE LINK STYLES -->
        <div id="container">
            <div id="header">
                <h1><strong>2Wheel Meetups</strong></h1>

                <div id="links">
                    <ul>
                        <li><a href="/Home">Home</a></li>
                        <li><a href="/Explore">Explore</a></li>
                        <li><a href="/CreateEvent">Create</a></li>
                        <li><a href="/Logout">Log Out</a></li>
                    </ul>
                </div>
            
                <div class="dropdown">

                    <button onclick="myFunction()" class="menuButton"><i class="fas fa-bars"></i> MENU</button>

                    <div id="tabletDropdown" class="dropdown-content">
                        <a href="/Home">Home</a>
                        <a href="/Explore">Explore</a>
                        <a href="/CreateEvent">Create</a>
                        <a href="/Logout">Log Out</a>
                    </div>

                </div>
        
            </div>
            
            <div id="mobileLinks">

                <a href="/Home">
                    <i class="fas fa-home fa-2x"></i>
                    <p>Home</p>
                </a>
                <a href="/Explore">
                    <i class="fas fa-search fa-2x"></i>
                    <p>Explore</p>
                </a>
                <a href="CreateEvent">
                    <i class="fas fa-motorcycle fa-2x"></i>
                    <p>Create</p>
                </a>
                <a href="/Logout">
                    <i class="fas fa-sign-out-alt fa-2x"></i>
                    <p>Log Out</p>
                </a>
                    
            </div>
        </div>  
        
        <div id="profileInfo">

            <div class="title">
                <h2>{{rider.FirstName}} {{rider.LastName}}</h2>
                <p>{{rider.City}}, {{rider.State}}</p>
                <img src="{% static 'MainApp/images/placeholder.png' %}" alt="">
            </div>
            
            <div class="details">

                <h4>Member Since</h4>
                <p><i class="fas fa-calendar-alt"></i> {{date}} <i class="fas fa-calendar-alt"></i></p>
                <br>
                <h4>Rides Attended</h4>
                <p><i class="fas fa-motorcycle"></i> {{UserAttending.count}} <i class="fas fa-motorcycle"></i></p>

            </div>
        </div>

        <div id="eventsAttending" class="eventsAttending">
            {% if UserAttending.count != 0 %}
            {% if rider.FirstName == request.session.FirstName %}<h2>Event's You Are Attending: </h2>{% endif %}
            {% if rider.FirstName != request.session.FirstName %}<h2>Event's {{rider.FirstName}} is Attending: </h2>{% endif %}

            <table id="table" class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th class="tabletDesktopOnly" scope="col">Details{% if rider.FirstName == request.session.FirstName %} / Cancel{% endif %}</th>
                    </tr>
                </thead>

                {% for event in UserAttending %}
                <tbody id="tbodyID">
                    <tr>
                        <td>{{event.Title}}</td>
                        <td>{{event.EventDate}}</td>
                        <td class="buttons">

                            <a href="{% url 'Event' event.id %}"><button type="submit" class="btn btn-secondary joinButton">Details</button></a>
                            
                            {% if rider.FirstName == request.session.FirstName %}
                            <!-- <form id="CancelButton" class="joinButton tabletDesktopOnly" action="/RemoveProcess/{{event.id}}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="Event" value="{{event.id}}"> -->
                            <a href="{% url 'RemoveProcess' event.id %}"><button type="submit" id="cancel" class="btn btn-danger joinButton" >Leave</button></a>
                            <!-- </form> -->
                            {% endif %}

                            <!-- <script>
                                $(document).ready(function(){
                                // THE '.off' PREVENTS AJAX FROM RUNNING FORM MULTIPLE TIMES!!!
                                    $(document).off('submit');
                                    $(document).on('submit', '#CancelButton', function(event) {
                                        event.preventDefault();

                                        // THE BELOW GETS THE COOKIES FOR THE CSRF TOKEN, THAT IS REQUIRED FOR THE FORM TO ALLOW AJAX TO PASS THE ID VALUE!!!
                                        function getCookie(name) {
                                            var cookieValue = null;
                                            if (document.cookie && document.cookie !== '') {
                                                var cookies = document.cookie.split(';');
                                                for (var i = 0; i < cookies.length; i++) {
                                                    var cookie = cookies[i].trim();
                                                    // Does this cookie string begin with the name we want?
                                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                        break;
                                                    }
                                                }
                                            }
                                            return cookieValue;
                                        }
                                        var csrftoken = getCookie('csrftoken');

                                        // CREATES CSRF FUNCTION TO BE CALLED IN AJAX SETUP!!!
                                        function csrfSafeMethod(method) {
                                            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                                        }
                                        // AJAX SETUP FOR CSRF TOKEN TO BE PASSED FOR AJAX TO RUN!!
                                        $.ajaxSetup({
                                            beforeSend: function(xhr, settings) {
                                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                                }
                                            }
                                        });    
                                                    
                                        // AJAX CALL TO SUBMIT FORM!!
                                        $.ajax({
                                        url: "/RemoveProcess/{{event.id}}",
                                        type: 'POST',
                                        success: 
                                            alert("YOU ARE NO LONGER ATTENDING --- {{event.Title}} ---")
                                    
                                        });
                                    });
                                });
                            </script> -->
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% endif %}
        </div>

        <div id="footer">
            <p class="footer">2Wheel Meetups &reg; by Gustavo Arellano</p>
        </div>    

    </body>
</html>