* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}

#container {
    width: 100%
}

/* ***************HEADER*************** */
#header {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#header h1, h1 strong {
    font-family: 'Pacifico', cursive;
    cursor: default;
    color: #F53756;
}

#links {
    margin-top: 15px;
    margin-right: 20px;
}

#links ul li{
    display: inline-block;
    margin: 0px 10px;
}

#links ul li a {
    padding: 5px;
    text-decoration: none;
    color: gray;
    border-bottom: 0px solid gray; 
    transition: border 150ms, padding 150ms;
    
}

#links ul li a:hover {
    border-bottom: 2px solid gray;
    padding-bottom: 15px;
}

/* ***************TITLE*************** */
#exploreHeader {
    font-family: 'Pacifico', cursive;
    cursor: default;
    color: #F53756;
    text-decoration: underline;
}

/* ***************FORM & INPUT*************** */
#myForm {
    text-align: center;
}

#AjaxStartsWith {
    border-radius: 10px;
    border: 3px solid gray;
    text-align: center;
}

#AjaxStartsWith, h5 {
    display: inline-block;
    margin: 0px 10px;
}

/* ***************EVENTS*************** */
#list {
    display: block;
    height: 100%;
}

/* ***************FOOTER*************** */
#footer {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: #363E47;
    text-align: center;
    color: white;
    width: 100%;
    padding: 0px;
} 

 #footer .footer {
    background-color: #363E47;
    padding: 10px;
    margin: 0;
}


@media only screen and (max-width: 700px) {
    .tablet {
        display: none;
    }
    .desktop {
        display: none;
    }

    #desktopUpcomingEvent {
        display: none;
    }

    .dropdown {
        display: none;
    }

    #tabletUpcoming {
        display: none;
    }

    #container { 
        position: fixed;
        width: 100%
    }

    /* ***************HEADER*************** */
    #header {
        background-color: whitesmoke;
        padding: 5px;
        width: 100%;
        
    } 

    #header h1{
        margin: auto;
        font-size: 15px;
    }

    #links {
        display: none;
    }

    #mobileLinks {
        background-color: white;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        margin: auto;
        padding: 5px 0px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    #mobileLinks a {
        text-decoration: none;
        color: gray;
        padding: 0px;
        margin: 10px 22px 0px 22px;
        display: inline-block;
        vertical-align: top;
    }

    #mobileLinks p {
        font-size: 9pt;
    }

    #mobileLinks a:hover {
        filter: brightness(25%);
    }

    #mobileLinks a p, i {
        display: block;
    }
    
    /* ***************TITLE*************** */
    #exploreHeader {
        margin-bottom: 0px;
        padding-top: 150px;
        width: 100%;
        text-align: center;
        background-color: whitesmoke; 
        font-size: 35px;
    }

    /* ***************FORM & INPUT*************** */
    #myForm {
        height: 100%;
        background-color: whitesmoke;
    }

    #myForm h5 {
        font-size: 15px;
        margin: 0px;
    }

    #AjaxStartsWith {
        margin: 0px 5px;
        margin-top: 50px;
        font-size: 12px;
    }
     
    #AjaxStartsWithButton {
        margin: 0px;
        font-size: 13px;
        background-color: #DC3545;
        width: 100px;
        color: white;
        padding: 2px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
    }
    
    #AjaxStartsWith, h5 {
        background-color: whitesmoke;
    }

    #listContainer {
        background-color: whitesmoke;
        height: 100%;
        padding: 0px;
        margin: 0px
    }

    #AjaxStartsWith, #AjaxStartsWithButton {
        display: inline-block;
    }

    .emptySpace {
        height: 550px;
        display: block;
        background-color: whitesmoke;
    }

    /* ***************FOOTER*************** */
    #footer .footer {
        font-size: 12px;
        background-color: #363E47;
        padding: 2px;
        margin: 0;
    }
}

@media only screen and (min-width: 701px) {
    #mobileLinks {
        display: none;
    }

    #links {
        display: none;
    }

    #upcoming {
        display: none;
    }

    .roadImage {
        display: none;
    }

    .emptySpace {
        display: none;
    }

    /* ***************HEADER*************** */
    #container {
        /* position: fixed; */
        width: 100%
    } 

    #header {
        margin: 0px;
        padding: 12px;
        background-color: whitesmoke;
        justify-content: space-between;
        width: 100%;
    }

    #header h1{
        margin: 0px;
        font-size: 25pt;
    }

    /* ***************DROPDOWN MENU FOR TABLET*************** */
    .dropdown {
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 5px;
    }

    .menuButton {
        background-color: gray;
        color: white;
        margin: 5px 20px;
        padding: 10px;
        font-size: 16px;
        width: 200px;
        height: 45px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
        
    .menuButton:hover, .menuButton:focus {
        filter: brightness(120%);
    }
        
    .dropdown-content {
        margin-left: 20px;
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 200px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
        
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
        
    .dropdown a:hover {
        background-color: #ddd;
    }

    #tabletDropdown a {
        text-decoration: none;
        color: black;
    }

    #tabletDropdown a:hover {
        color: #F53756;
    }
        
    .show {
        display: block;
    }

    /* ***************TITLE*************** */
    #exploreHeader {
        margin-bottom: 0px;
        padding-top: 30px;
        width: 100%;
        text-align: center;
        font-size: 50px;
    }

    /* ***************FORM & INPUT*************** */
    #myForm {
        height: 100%;
    }

    #myForm h5 {
        font-size: 18px;
        margin: 0px;
    }

    #AjaxStartsWith {
        margin: 0px 5px;
        margin-top: 80px;
        font-size: 14px;
    }
     
    #AjaxStartsWithButton {
        margin: 0px;
        font-size: 16px;
        background-color: #DC3545;
        width: 100px;
        color: white;
        padding: 2px;
        border-radius: 4px;
        border: none;
    }

    #AjaxStartsWith, #AjaxStartsWithButton {
        display: inline-block;
    }

    /* ***************FORM & INPUT*************** */
    #listContainer {
        height: 100%;
        padding: 0px;
        margin: 0px;
        margin-bottom: 100px;
        background-color: white;
    }

    #footer {
        margin-top: 600px;
        display: block;
        position: relative;
        text-align: center;
        color: white;
        width: 100%;
    } 
    
    #footer .footer {
        font-size: 15px;
        background-color: #363E47;
        height: 35px;
        margin: auto;
        bottom: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .emptySpace {
        display: none;
    }

    #mobileLinks {
        display: none;
    }

    #mobileUpcomingEvent{
        display: none;
    }

    .mobile {
        display: none;
    }

    .tablet {
        display: none;
    }

    .dropdown {
        display: none;
    }

    /* ***************HEADER*************** */
    #container #header {
        background-color: whitesmoke;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    #header h1, h1 strong {
        font-family: 'Pacifico', cursive;
        cursor: default;
        color: #F53756;
    }

    #links {
        display: initial;
        margin-top: 15px;
        margin-right: 20px;
    }

    #links ul li{
        display: inline-block;
        margin: 0px 10px;
    }

    #links ul li a {
        padding: 5px;
        text-decoration: none;
        color: gray;
        border-bottom: 0px solid gray; 
        transition: border 150ms, padding 150ms;
    }

    #links ul li a:hover {
        border-bottom: 2px solid gray;
        padding-bottom: 15px;
    }

    /* ***************TITLE*************** */
    #exploreHeader {
        margin-bottom: 0px;
        padding-top: 30px;
        width: 100%;
        text-align: center;
        font-size: 50px;
    }

    /* ***************FORM & INPUT*************** */
    #myForm {
        height: 100%;
    }

    #myForm h5 {
        font-size: 18px;
        margin: 0px;
    }

    #AjaxStartsWith {
        margin: 0px 5px;
        margin-top: 80px;
        font-size: 14px;
    }
        
    #AjaxStartsWithButton {
        margin: 0px;
        font-size: 16px;
        background-color: #DC3545;
        width: 100px;
        color: white;
        padding: 2px;
        border-radius: 4px;
        border: none;
    }

    #listContainer {
        height: 600px;
        padding: 0px;
        margin: 0px
    }

    #AjaxStartsWith, #AjaxStartsWithButton {
        display: inline-block;
    }
}